
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/CommonStyle.css" rel="stylesheet" />
</head>
<body>
    <div> 
        欢迎
    </div>
</body>
</html>
